* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
}

body {
  text-align: center;
  background-color: black;
  background-image: url(https://museumofyouthculture.com/wp-content/uploads/2019/11/Peter-Anderson-PA0032.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  font-family: "Bad Script", serif;
  margin: 0 auto;
  text-shadow: 0px 0px 2px black;
}

main {
  max-width: 80%;
  margin: 2em auto;
  padding: 0.5em;
  background-color: rgb(34 34 34 / 0.9);
  border-radius: 10px;
}

h1 {
  margin-top: 0.5em;
  margin-bottom: 0.625em;
  font-size: calc(1.5rem + 2vh);
}

h2 {
  margin: 0.625em 0;
  font-size: calc(2.5rem + 2vh);
}

p {
  font-size: calc(1.5rem + 1vh);
  margin: 0 auto 1em;
  padding: 1em;
}

.btn {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 80%;
  margin: 0 auto;
}

button {
  padding: 0.5em;
  font-weight: bold;
  font-size: calc(0.8rem + 1vh);
  text-transform: uppercase;
  color: #ffffff;
  background-color: black;
  border: 2px solid white;
}

button:active {
  color: #222222;
  background-color: white;
  border: 2px solid black;
}

@media (hover: hover) {
  button:hover,
  button:focus {
    color: #222222;
    background-color: white;
    border: 2px solid black;
    transition-duration: 0.1s;
  }
}

@media screen and (min-width: 40em) {
  .btn {
    flex-direction: row;
    justify-content: center;
  }

  button {
    width: 20em;
  }

  h1 {
    font-size: calc(1.5rem + 3vh);
  }

  p {
    font-size: calc(1.5rem + 2vh);
  }
}
